[core]
# The home folder for airflow, default is ~/airflow
airflow_home = /opt/airflow

# The executor class that airflow should use. Choices include SequentialExecutor, LocalExecutor, CeleryExecutor
executor = LocalExecutor

# The SQLAlchemy connection string to the metadata database
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres/airflow

# Secret key to save connection passwords in the db
fernet_key = your_fernet_key_here

# Whether to load the example dags that ship with Airflow. Default is True
load_examples = False

...

[webserver]
# The ip specified when starting the web server
web_server_host = 0.0.0.0

# The port on which to run the web server
web_server_port = 8080

# The base url of your webserver
base_url = http://localhost:8080

...

[scheduler]
# The scheduler instance to use
scheduler_job_name = scheduler

# The number of seconds to wait between schedule runs
scheduler_heartbeat_sec = 5

...
